/* Reservas */
.error-text {
    color: #C64E52;
}

.navbar {
    background-color: #1E1D1B;
    opacity: 0.9;
    height: 80px;
    justify-content: center;
    margin-bottom: 40px;
}

#logo {
    height: 60px;
}

thead,
tbody {
    border-style: hidden;
}

th {
    color: white;
}

th i {
    float: right;
}

.form-group {
    margin-top: 10px;
}

td {
    border: 1px solid black;
    font-size: small;
    padding: 10px 3px !important;
}

td a {
    text-decoration: none;
}

.tit-pista{
    color: white;
    border: 1px solid white;
}

.btn-celda{
    opacity: .8;
    padding: 0;
    text-align: center;
}

.reservado {
    background-color: red !important;
}

.disponible {
    background-color: white !important;
    cursor: pointer;
}

.incompleto {
    background-color: lightcoral !important;
    cursor: pointer;
}

.seleccionado {
    background-color: lightgreen !important;
    cursor: pointer;
}

.form-label {
    color: white;
}

small {
    font-size: 10px;
    color: white;
}

#leyenda {
    display: flex;
    justify-content: space-between;
}

#cuadro-disponible {
    background-color: white;
    height: 20px;
    width: 30px;
}

#cuadro-seleccionado {
    background-color: lightgreen;
    height: 20px;
    width: 30px;
}

#cuadro-incompleto {
    background-color: lightcoral;
    height: 20px;
    width: 30px;
}

#cuadro-completo {
    background-color: red;
    height: 20px;
    width: 30px;
}

.modal-content {
    background-color: #1E1D1B;
    color: white;
}

.valores-reserva {
    font-weight: lighter;
}

.eliminar-reserva {
    color: red;
}

.logout{
    padding-left: 30px;
    text-decoration: none;
    color: red;
}

hr{
    color: white;
}