/* Reservas */
.error-text {
    color: #C64E52;
}

.navbar {
    background-color: #1E1D1B;
    opacity: 0.9;
    height: 80px;
    justify-content: center;
    margin-bottom: 40px;
}

#logo {
    height: 60px;
}

th {
    color: white;
}

th i {
    float: right;
}

.form-group {
    margin-top: 10px;
}

td {
    border: 1px solid lightgray;
}

.reservado {
    background-color: coral !important;
}

.disponible {
    background-color: white !important;
    cursor: pointer;
}

.seleccionado {
    background-color: lightgreen !important;
    cursor: pointer;
}

.form-label {
    color: white;
}

small {
    color: white;
}